/*================================================css untuk halaman about us==================================*/
/*---------------------------------------------------about us------------------------------------------*/

/*about bagian background body*/
.about {
  background: url('../img/about-us.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*about bagian isi*/
.about-content {
  margin-top: 20px;
}
/*about bagian judul*/
.about-content span {
  display: inline-block;
  width: 90%;
  background-color: white;
  position: relative;
  left: 3.5%;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}
/*about bagian membuat gambar profil*/
.about-content-img {
  width: 100%;
  margin-top: 50px;
}
/*about bagian untuk mengatur posisi gambar*/
.about-content-img img {
  position: relative;
  left: 8%;
  border-radius: 50%;
  background-color: white;
  width: 150px;
  height: 150px;
  margin-right: 7%;
}

/*about bagian deskripsi membuat tempat*/
.about-content-panel {
  width: 100%;
}
/*about bagian membuat box deskripsinya per bagian*/
.about-content-panel div {
  position: relative;
  left: 3%;   
  width: 10%;
  height: 200px;
  margin-top: 10px;
  margin-left: 3.5%;
  margin-bottom: 100px;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}
/*about bagian dalam box , membuat grub untuk lis*/
.about-content-panel div ul{
  list-style: none;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
/*about untuk mengatur space atas judul*/
.about-list-space{
  margin-top: 20px;
  font-weight: bold;
}
#cp-right {
  text-align: center;
  font-family: Arial;
  color: #ffffff;
  background-color: #232c2e;
  padding: 30px;
}
