/*======================================css untuk halaman index======================================*/
/*-----------------------------------------------index-----------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #020242;
}

.nav {
    background-color: #33a7e0;
    height: 90px;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    position: fixed;
    top: 0;
}

.navbar-left {
    float: left;
}

.navbar-right {
    float: right;
}

#logo-web {
    width: 45px;
    height: auto;
    padding-left: 2em;
    padding-top: 25px;
    padding-right: 3px;
}

#nm-web {
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    color: #020242;
    margin-top: 0px;
}

#span-nm {
    color: #ffffff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #020242;
}
ul {
    list-style: none;
    padding-right: 2em;
}

ul li {
    display: inline-block;
    padding-top: 35px;
    padding-bottom: 10px;
    padding-right: 1em;
}

ul li a {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

ul li a:hover {
    color: #020242;
}

#buat-cv {
    border: 10px solid #020242;
    background-color: #020242;
}

#buat-cv:hover {
    color: #020242;
    background-color: #ffffff;
    border: 10px solid #ffffff;
    cursor: pointer;
}

#btn-menu,
#close-menu {
    color: #ffffff;
    font-size: 45px;
    float: right;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 1em;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 720px) {
    #btn-menu {
        display: block;

    }
    ul {
        position: fixed;
        margin-right: 0px;
        height: 13.5em;
        right: -100%;
        top: 90px;
        background-color: #2991da;
        text-align: center;
        transition: .3s;
    }
    ul li {
        display: inline-block;
        padding-top: 35px;
        padding-bottom: 10px;
        padding-right: 1em;
    }
    
    ul li a {
        color: white;
        font-size: 20px;
        font-weight: bold;
        text-decoration: none;
    }
    
    ul li a:hover {
        color: #020242;
    }
    
    #buatCV {
        border: 10px solid #020242;
        background-color: #020242;
    }
    
    #buatCV:hover {
        color: #020242;
        background-color: #ffffff;
        border: 10px solid #ffffff;
        cursor: pointer;
    }
    
    #btn-menu,
    #close-menu {
        color: #ffffff;
        font-size: 45px;
        float: right;
        padding-top: 20px;
        padding-bottom: 10px;
        padding-right: 1em;
        cursor: pointer;
        display: none;
    }
    
    #check {
        display: none;
    }
    
    @media (max-width: 720px) {
        #btn-menu {
            display: block;
        }
        ul {
            position: fixed;
            margin-right: 0px;
            height: 13.5em;
            right: -100%;
            top: 90px;
            background-color: #2991da;
            text-align: center;
            transition: .3s;
        }
        ul li {
            display: block;
            padding-left: 3em;
            line-height: 15px;
        }
        #check:checked~ul {
            right: 0;
        }
    }
    
    .jd-container {
        color: white;
        font-family: 'Quicksand', sans-serif;
        display: grid;
        grid-template-columns: repeat(2, auto);
        padding-left: 3em;
        padding-right: 3em;
        padding-top: 10em;
    }
    
    .jd-content {
        max-width: 480px;
    }
    
    #judul {
        font-size: 50px;
    }
    
    #sub-jd1,
    #sub-jd2 {
        font-size: 15px;
        text-align: justify;
        margin-top: 35px;
    }
    
    #foto-jd {
        width: 600px;
        float: right;
        padding-right: 3em;
        display: block;
        padding-left: 3em;
        line-height: 15px;
    }
    #check:checked~ul {
        right: 0;
    }
    #btn-buat:hover,
    #buat-skrg:hover {
        cursor: pointer;
        background-color: lightblue;
        color: white;
    }
    
    #buat-skrg {
        font-size: 15px;
        color: #020242;
    }
    
    .bg-curved {
        background-image: url("../img/gmb-snow.png"), url("../img/gmb-snow.png");
        background-repeat: repeat-x, repeat-y;
    }
    
    .cr-content {
        background-color: #ffffff;
        color: black;
        text-align: center;
    }
    
    .bg-curved svg {
        display: block;
    }
    
    .cr-content {
        font-family: 'Fredoka One', cursive;
        font-family: 'Quicksand', sans-serif;
    }
    
    .cr-content h1 {
        color: #232c2e;
        font-size: 50px;
    }
    
    .cr-content h3 {
        color: #7e8276;
        font-size: 30px;
    }
    
    .card-content {
        margin-left: 150px;
        margin-top: 50px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
    }
    
    .card {
        padding: 45px;
        background-color: azure;
        border-color: #d0ccbf;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 40%;
    }
    
    .card i {
        font-size: 100px;
        padding: 20px;
    }
    
    #cd-1:hover {
        background-color: #f36d43;
        box-shadow: 0 8px 16px 0 #f36d43;
        color: white;
        transition: 0.3s;
    }
    
    #cd-2:hover {
        background-color: #f8c652;
        box-shadow: 0 8px 16px 0 #f8c652;
        color: white;
        transition: 0.3s;
    }
    
    #cd-3:hover {
        background-color: #60b78a;
        box-shadow: 0 8px 16px 0 #60b78a;
        color: white;
        transition: 0.3s;
    }
    
    .card-container {
        padding: 2px 16px;
    }
    
    .card-container h4 {
        color: #232c2e;
    }
    
    .card-container p {
        color: #232c2e;
    }
    
    #round-numb {
        color: white;
        font-size: 15px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: black;
    }
    
    #round-numb:hover {
        color: black;
        background-color: white;
    }
    
    #numb {
        padding: 5px;
    }
    
    .bg-curved2 {
        background-color: #ffffff;
    }
    
    .bg-curved2 svg {
        display: block;
    }
    
    h3,
    h5 {
        color: white;
        font-family: Arial;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 50px;
    }
    
    .contact {
        display: grid;
        grid-template-columns: repeat(3, auto);
        padding-bottom: 50px;
    }
    
    iframe {
        height: 110px;
        width: 375px;
        padding-left: 50px;
    }
    
    #cp-right {
        text-align: center;
        font-family: Arial;
        color: #ffffff;
        background-color: #232c2e;
        padding: 30px;
    }
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .modal-form {
        font-family: 'Nunito', sans-serif;
        background: linear-gradient(rgb(111, 160, 253, .8), rgb(183, 205, 254, .6)), url(../img/bg-modal-form.png) center no-repeat;
        background-size: cover;
        width: 720px;
        height: 640px;
        margin: auto;
        padding: 0;
        overflow: auto;
        position: relative;
        border: 1px solid #888;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }
    
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    
    #form-header {
        font-weight: 900;
        text-align: center;
        margin-bottom: 25px;
        padding-top: 40px;
    }
    
    #form-header h1 {
        color: #232c2e;
        font-size: 45px;
    }
    
    #form-header h2 {
        color: #7e8276;
        font-size: 20px;
    }
    
    .form {
        margin-left: 55px;
        margin-right: 55px;
        margin-bottom: 40px;
        margin-top: 0px;
        font-family: 'Quicksand', sans-serif;
        color: #232c2e;
    }
    
    .btn-close {
        float: right;
        font-size: 50px;
        font-weight: 800;
        color: #ffffff;
        padding-right: 20px;
        cursor: pointer;
    }
    
    .sub-form {
        padding-top: 20px;
    }
    
    .sub-form h3 {
        font-family: 'Quicksand', sans-serif;
        color: #232c2e;
        padding-left: 0px;
    }
    
    .input-group-2clm {
        display: grid;
        grid-template-columns: repeat(2, auto);
        margin-top: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .input-group {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .input-group span {
        font-size: 12px;
    }
    
    .input-group a {
        color: red;
    }
    
    #sub-form1 input {
        width: 250px;
        height: 25px;
        border-radius: 5px;
        padding-left: 5px;
    }
    
    #sub-form2 input {
        width: 100%;
        height: 25px;
        border-radius: 5px;
    }
    
    .input-group-nm {
        width: 500px;
    }
    
    #photo {
        background-color: #f0f0f0;
        border: 2px solid #7e8276;
        height: 150px;
        width: 150px;
    }
    
    #photo-icon {
        font-size: 100px;
        padding-left: 22px;
        padding-top: 15px;
        text-align: center;
    }
    
    #up-photo {
        font-size: 10px;
        padding-left: 5px;
    }
    
    #btn-pend i {
        font-size: 13px;
    }
    
    button {
        margin: 10px;
        padding: 5px;
    }
}

.jd-container {
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 3em;
}

.jd-content {
    max-width: 480px;
}

#judul {
    font-size: 50px;
}

#sub-jd1,
#sub-jd2 {
    font-size: 15px;
    text-align: justify;
    margin-top: 35px;
}

#foto-jd {
    width: 600px;
    float: right;
    padding-right: 3em;
}

#btn-buat {
    background-color: #ffffff;
    height: 30px;
    width: 175px;
    margin-top: 35px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    line-height: 26px;
}

#btn-buat:hover, #buat-skrg:hover {
    cursor: pointer;
    background-color: lightblue;
    color: white;
}

#buat-skrg {
    font-size: 15px;
    color: #020242;
}

.bg-curved {
    background-image: url("img/gmb-snow.png"), url("img/gmb-snow.png");
    background-repeat: repeat-x, repeat-y;
}

.cr-content {
    background-color: #ffffff;
    color: black;
    text-align: center;
}

.bg-curved svg {
    display: block;
}

.cr-content {
    font-family: 'Fredoka One', cursive;
    font-family: 'Quicksand', sans-serif;
}

.cr-content h1 {
    color: #232c2e;
    font-size: 50px;
}

.cr-content h3 {
    color: #7e8276;
    font-size: 30px;
}

.card-content {
    margin-left: 150px;
    margin-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}

.card {
    padding: 45px;
    background-color: azure;
    border-color: #d0ccbf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
}

.card i {
    font-size: 100px;
    padding: 20px;
}

#cd-1:hover {
    background-color: #f36d43;
    box-shadow: 0 8px 16px 0 #f36d43;
    color: white;
    transition: 0.3s;
}

#cd-2:hover {
    background-color: #f8c652;
    box-shadow: 0 8px 16px 0 #f8c652;
    color: white;
    transition: 0.3s;
}

#cd-3:hover {
    background-color: #60b78a;
    box-shadow: 0 8px 16px 0 #60b78a;
    color: white;
    transition: 0.3s;
}

.card-container {
    padding: 2px 16px;
}

.card-container h4 {
    color: #232c2e;
}

.card-container p {
    color: #232c2e;
}

#round-numb {
    color: white;
    font-size: 15px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
}

#round-numb:hover {
    color: black;
    background-color: white;
}

#numb {
    padding: 5px;
}

.bg-curved2 {
    background-color: #ffffff;
}

.bg-curved2 svg {
    display: block;
}

h3,
h5 {
    color: white;
    font-family: Arial;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.contact {
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding-bottom: 50px;
}

iframe {
    height: 110px;
    width: 375px;
    padding-left: 50px;
}

#cp-right {
    text-align: center;
    font-family: Arial;
    color: #ffffff;
    background-color: #232c2e;
    padding: 30px;
}
/*=====================================css untuk halaman about us=====================================*/
/*----------------------------------------------about us----------------------------------------------*/ 
/*-------about bagian judul-------*/
.about-content {
    margin-top: 20px;
}
.about-content span {
    display: inline-block;
    width: 90%;
    color: white;
    position: relative;
    left: 3.5%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
/*-------about bagian isi-------*/
.container-about {
    background-color: #ffffff;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    width: 100%;
}

.content-about {
    position: relative;
    left: 1%;
    width: 200px;
    margin: 0 0 3% 3%;
    float: left;
}

.image img {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0 0 8px 5px #232c2e;

}
.dec {
    margin-top: 40px;
    padding: 0 20px;
    height: 300px;
    background-color: lightblue;
    border-radius: 10%;
    box-shadow: 0 0 8px 5px #232c2e;
}
.dec h2 {
    padding-top: 20%;
}